.searchPage-info{
    padding: 20px;
}

.searchPage-info > p{
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage-info > h1 {
    margin-bottom: 30px;
}

.searchPage-info > button{
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
    border: 1px solid rgb(146, 146, 146);
    color: rgb(41, 41, 41);
}

.searchPage-info > button:hover{
    border: 1px solid rgb(146, 146, 146);
}